<div id='post'>
  <h2><%= @post.title %></h2>
  <span id='author'>Created by <%= @post.user.email %></span>
  <%= link_to "Edit Post", [:edit, @project, @post ] %>
  <%= link_to "Delete Post", [@project, @post], method: :delete,
      data: { confirm: "Are you sure you want to delete this post?" } %>
  <%= simple_format(@post.description) %>
</div>
